.main {
    position: absolute;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.input-styled {
    position: fixed;
    width: 100%;
    top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    height: 90px;
    background-color: white;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    padding: 4px 12px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:10%;
    transform: translateY(-50%);
    color: #262D63;
}

.search-input {
    width: 80%;
    max-width: 500px;
    height: 45px;
    border-radius: 18px;
    border: 1px solid #262D63;
    padding: 0 45px;
}

.group-list {
    max-width: 500px;
    width: 80%;
    min-height: 500px;
/*     overflow-y: scroll; */
    z-index: 1;
    margin-top: 75px;
    position: relative;
    margin-bottom: 98px;
}

