.header {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 110px;
}

.background {
    background-color: #262D63;
    width: 108vw;
    height: 110px;
    overflow: hidden;
    position: fixed;
    border-radius: 0 0 140px 140px;
    box-shadow: 0px 2px 20px 6px #ADADAD;
}

.header-align {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.unisinos-logo {
    width: 71px;
    margin: -8px 5px 0 0;
}

.header-select {
    max-width: 190px;
    height: 40px;
    border-radius: 15px;
    margin-left: 5px;
    padding: 0 8px;
    color: #626262;
    text-overflow: ellipsis;
}